# SQL Analysis for OpenStreetMap Data

## Overview of the dataset

### Checking tables in the dataset

sqlite> .tables
nodes       nodes_tags  ways        ways_nodes  ways_tags

sqlite> .schema
CREATE TABLE nodes(
    id INTEGER PRIMARY KEY NOT NULL,
    lat REAL,
    lon REAL,
    user TEXT,
    uid INTEGER,
    version INTEGER,
    changeset INTEGER,
    timestamp TEXT);
CREATE TABLE ways (
    id INTEGER PRIMARY KEY NOT NULL,
    user TEXT,
    uid INTEGER,
    version TEXT,
    changeset INTEGER,
    timestamp TEXT);
CREATE TABLE nodes_tags(
        id INTEGER,
        key TEXT,
        value TEXT,
        type TEXT,
        FOREIGN KEY (id) REFERENCES nodes(id));
CREATE TABLE ways_tags(
        id INTEGER NOT NULL,
        key TEXT NOT NULL,
        value TEXT NOT NULL,
        type TEXT,
        FOREIGN KEY (id) REFERENCES ways(id));
CREATE TABLE ways_nodes(
        id INTEGER NOT NULL,
        node_id INTEGER NOT NULL,
        position INTEGER NOT NULL,
        FOREIGN KEY (id) REFERENCES ways(id),
        FOREIGN KEY (node_id) REFERENCES nodes(id));

sqlite> SELECT * FROM nodes LIMIT 5;
27195852|45.5408932|-122.8675556|Grant Humphries|393906|11|7632877|2011-03-21T23:25:58Z
27196027|45.5252803|-122.6617259|KindredCoda|14293|6|29718932|2015-03-25T03:22:33Z
27196028|45.5253381|-122.6614312|Grant Humphries|393906|8|29866417|2015-03-31T02:01:36Z
27196029|45.5255055|-122.6608381|KindredCoda|14293|6|29718932|2015-03-25T03:22:33Z
27199858|45.530317|-122.8917403|Mele Sax-Barnett|362111|5|11079754|2012-03-23T23:52:58Z

sqlite> SELECT * FROM nodes_tags LIMIT 5;
27195852|highway|traffic_signals|regular
27199958|highway|turning_circle|regular
27266177|highway|traffic_signals|regular
27266177|crossing|traffic_signals|regular
27266267|highway|traffic_signals|regular

sqlite> SELECT * FROM ways LIMIT 5;
4440143|Brett_Ham|3735764|8|40073489|2016-06-16T18:15:45Z
4440967|Peter Dobratz|81676|23|40122225|2016-06-18T19:28:36Z
4441934|Peter Dobratz|81676|20|34401253|2015-10-03T04:14:50Z
4443830|Brett_Ham|3735764|6|40073489|2016-06-16T18:15:43Z
4443836|Brett_Ham|3735764|5|40073489|2016-06-16T18:15:46Z

sqlite> SELECT * FROM ways_tags LIMIT 5;
4440143|name|Northwest Hodes Drive|regular
4440143|highway|residential|regular
4440143|sidewalk|both|regular
4440967|name|Northeast Butler Street|regular
4440967|bicycle|designated|regular

sqlite> SELECT * FROM ways_nodes LIMIT 5;
4440143|38756004|0
4440143|27203634|1
4440143|29936590|2
4440143|27286355|3
4440143|29936591|4

### Size of the database

sqlite> .dbinfo
database page size:  1024
write format:        1
read format:         1
reserved bytes:      0
file change counter: 15
database page count: 928804
freelist page count: 0
schema cookie:       9
schema format:       4
default cache size:  0
autovacuum top root: 0
incremental vacuum:  0
text encoding:       1 (utf8)
user version:        0
application id:      0
software version:    3008011
number of tables:    5
number of indexes:   0
number of triggers:  0
number of views:     0
schema size:         870

Size of the database is 928804 KB i.e. almost 1 GB (my OSM XML file was 1.54 GB).

### Number of nodes and ways

sqlite> SELECT Count(id) FROM nodes;
6577944
sqlite> SELECT Count(id) FROM ways;
850234

There are 6577944 nodes and 850234 ways in total.

### Number of unique users for both nodes and ways and the top 10 users

SELECT COUNT(unique_users) 
FROM (SELECT nodes.uid as unique_users
FROM nodes, ways
ON nodes.uid = ways.uid
Group by nodes.uid)
as unique_users_count;

This could not run the first code. I got an error saying "database or disk is full".

I ran this instead:

SELECT COUNT(DISTINCT(uid))          
FROM (SELECT uid FROM nodes UNION ALL SELECT uid FROM ways);

SELECT user, COUNT(*) as num          
FROM (SELECT user FROM nodes UNION ALL SELECT user FROM ways)
GROUP BY user
ORDER BY num DESC
LIMIT 10;

sqlite> SELECT COUNT(DISTINCT(uid))
   ...> FROM (SELECT uid FROM nodes UNION ALL SELECT uid FROM ways);
1233

sqlite> SELECT user, COUNT(*) as num
   ...> FROM (SELECT user FROM nodes UNION ALL SELECT user FROM ways)
   ...> GROUP BY user
   ...> ORDER BY num DESC
   ...> LIMIT 10;
Peter Dobratz_pdxbuildings|1960041
lyzidiamond_imports|1904820
Mele Sax-Barnett|582424
baradam|540940
Darrell_pdxbuildings|433857
Grant Humphries|305598
cowdog|297332
Peter Dobratz|274700
justin_pdxbuildings|116754
amillar-osm-import|109002

The number of unique users is 1,233 and the top 10 users are listed above.

### Number of unique users for nodes and top 10 users

SELECT COUNT(unique_users)
FROM (SELECT uid as unique_users
FROM nodes
Group by uid)
as unique_users_count;

(or you can run this instead:  SELECT COUNT(DISTINCT(uid)) FROM nodes;)

SELECT user, COUNT(*) as num
FROM nodes
Group by uid
Order by num DESC
LIMIT 10;

sqlite> SELECT COUNT(unique_users)
   ...> FROM (SELECT uid as unique_users
   ...> FROM nodes
   ...> Group by uid)
   ...> as unique_users_count;
1104

sqlite> SELECT user, COUNT(*) as num
   ...> FROM nodes
   ...> Group by uid
   ...> Order by num DESC
   ...> LIMIT 10;
Peter Dobratz_pdxbuildings|1746176
lyzidiamond_imports|1657626
Mele Sax-Barnett|568895
baradam|499044
Darrell_pdxbuildings|376005
Grant Humphries|288284
cowdog|269013
Peter Dobratz|217149
amillar-osm-import|108043
justin_pdxbuildings|100877

### Number of unique users for ways and top 10 users

SELECT COUNT(unique_users)
FROM (SELECT uid as unique_users
FROM ways
Group by uid)
as unique_users_count;

(or you can run this instead: SELECT COUNT(DISTINCT(uid)) FROM ways;)

SELECT user, COUNT(*) as num
FROM ways
Group by uid
Order by num DESC
LIMIT 10;

sqlite> SELECT COUNT(unique_users)
   ...> FROM (SELECT uid as unique_users
   ...> FROM ways
   ...> Group by uid)
   ...> as unique_users_count;
846

sqlite> SELECT user, COUNT(*) as num
   ...> FROM ways
   ...> Group by uid
   ...> Order by num DESC
   ...> LIMIT 10;
lyzidiamond_imports|247194
Peter Dobratz_pdxbuildings|213865
Darrell_pdxbuildings|57852
Peter Dobratz|57551
baradam|41896
Brett_Ham|39994
cowdog|28319
Ryan_Peterson|19909
Grant Humphries|17314
justin_pdxbuildings|15877

Eight of the top ten users for nodes and ways are overlapping.

## Addidtional  Statistics

### Top 30 keys for nodes_tags

SELECT key, COUNT(*) as num
FROM nodes_tags
GROUP BY key
ORDER BY num DESC
LIMIT 30;

sqlite> SELECT key, COUNT(*) as num
   ...> FROM nodes_tags
   ...> GROUP BY key
   ...> ORDER BY num DESC
   ...> LIMIT 30;
highway|34959
street|30413
housenumber|30389
city|30133
postcode|30101
name|11801
amenity|10462
source|8693
natural|8645
railway|5332
power|5211
traffic_calming|4569
state|4428
ref|3908
crossing|3167
barrier|3001
public_transport|2875
bus|2594
capacity|2500
bicycle_parking|2467
type|2288
website|2200
emergency|2183
ele|2055
shop|1688
feature_id|1672
created|1625
county_id|1498
bench|1388
shelter|1359

The top 30 keys for nodes_tags are listed above. The interesting keys for nodes_tag to me are as followings: 
* city 
* amenity
* power
* public_transport
* shop
* natural
* railway
* bus
* shelter

I will look into these keys more closely.

### city

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'city';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'city'
GROUP BY value
ORDER BY num DESC
LIMIT 10;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'city';
64

sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'city'
   ...> GROUP BY value
   ...> ORDER BY num DESC
   ...> LIMIT 10;
Portland|20127
Hillsboro|1656
Gresham|1592
Beaverton|1041
Tigard|587
Oregon City|541
Aloha|450
Canby|412
Milwaukie|411
Tualatin|369

There are 64 cities in this square map area. The top 10 cities are listed above. As expected, Portland is the most frequent city among the cities.

### amenity

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'amenity';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'amenity'
GROUP BY value
ORDER BY num DESC
LIMIT 10;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'amenity';
98
sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'amenity'
   ...> GROUP BY value
   ...> ORDER BY num DESC
   ...> LIMIT 10;
bicycle_parking|2666
bench|868
waste_basket|805
place_of_worship|781
restaurant|666
fast_food|560
post_box|476
cafe|386
drinking_water|231
recycling|215

There were 98 kinds of amenities and The top 10 amenities are listed above. I will look into the following amenity values more closely.
* bicycle_parking
* cafe
* recycling

#### amenity:  bicycle_parking

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'bicycle_parking'
GROUP BY value
ORDER BY num DESC;

SELECT COUNT(*)
FROM nodes_tags
WHERE key = 'bicycle_parking';

SELECT value, COUNT(*)/2467. as num
FROM nodes_tags
WHERE key = 'bicycle_parking'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'bicycle_parking'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
stands|2339
bollard|70
rack|27
wave|17
wall_loops|7
building|4
anchors|2
yes|1

sqlite> SELECT COUNT(*)
   ...> FROM nodes_tags
   ...> WHERE key = 'bicycle_parking';
2467

sqlite> SELECT value, COUNT(*)/2467. as num
   ...> FROM nodes_tags
   ...> WHERE key = 'bicycle_parking'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
stands|0.948115119578435
bollard|0.0283745439805432
rack|0.0109444669639238
wave|0.00689096068098906
wall_loops|0.00283745439805432
building|0.0016214025131739
anchors|0.000810701256586948
yes|0.000405350628293474

The most frequent amenity value is 'bicycle_parking' and this is not surprising because Portland, Oregon is one of the most bike-friendly cities in U.S. Actually, 'bicycle_parking' was also used as a key for node_tags and it was the 20th most frequent key (see the section 'Top 20 keys for nodes_tags'). I found values for the key 'bicycle_parking' show types of bicycle parking from http://wiki.openstreetmap.org/wiki/Key:bicycle_parking. There are 7 types of bicycle parking, stands, bollard, rack, wave, wall_loops, building, and anchors in this map area (there was one incorrect value 'yes' for the bicycle_parking). The most of bicycle parkings have the stands type (94.8%).

#### amenity:  bicycle_rental

SELECT COUNT(*)
FROM nodes_tags
WHERE key = 'amenity' and value = 'bicycle_rental';

sqlite> SELECT COUNT(*)
   ...> FROM nodes_tags
   ...> WHERE key = 'amenity' and value = 'bicycle_rental';
50

#### amenity:  cafe

SELECT nodes_tags.value, COUNT(*) as num 
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'cafe') cafe
ON nodes_tags.id = cafe.id 
WHERE nodes_tags.key ='name'
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 20;

sqlite> SELECT nodes_tags.value, COUNT(*) as num
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'cafe') cafe
   ...> ON nodes_tags.id = cafe.id
   ...> WHERE nodes_tags.key ='name'
   ...> GROUP BY nodes_tags.value
   ...> ORDER BY num DESC
   ...> LIMIT 20;
Starbucks|129
Peet's|7
Black Rock|5
Jamba Juice|5
Peet's Coffee & Tea|5
Dutch Bros.|4
Peet's Coffee|3
Brewed Awakenings|2
Canteen|2
Dutch Bros. Coffee|2
Portland Roasting Coffee|2
Starbucks Coffee|2
Stumptown|2
World Cup Coffee & Tea|2
40 LBs Coffee Bar|1
Albina Press|1
Aly's Coop|1
Anna's Chocolate Cafe|1
Antonio's House of Coffee|1
Ava Roasteria|1

Portland, OR is also known for specialty coffee and I found 'cafe' is the 8th most frequent amenity value (386 nodes). The wiki page http://wiki.openstreetmap.org/wiki/Key:amenity expains how 'cafe' was defined and says "typically, the focus is on coffee or tea". Some of cafe nodes have another tag with key 'cuisine' and value 'coffee_shop', but many cafes including Starbucks are missing this tag. Therefore, I did not use 'coffee_shop' to make further restrictions.  As expected, Starbucks (value = 'starbucks' or 'Starbucks Coffee') is the most frequent cafe (33.9% of cafe nodes). The second most frequent cafe was Peet's (value = Peet's, Peet's Coffee & Tea, or Peet's Coffee). It seems there are many local cafes, but I need to compare these findings to other cities to make any rigorous conclusions.

In [20]:
(129+2)/386.  # number of 'starbucks' or 'Starbucks Coffee' divided by the nunber of cafes.

0.3393782383419689

#### amenity: recycling

I was glad to find 'recycling' is the 10th frequent amenity in nodes_tags, so I decided to investigate recycling a little more. The original XML looks like the following where 'recycing' is the value for the key 'amenity'.

		<tag k="amenity" v="recycling" />
		<tag k="recycling:cans" v="yes" />
		<tag k="recycling_type" v="container" />
		<tag k="recycling:plastic_bottles" v="yes" />

SELECT nodes_tags.key,nodes_tags.value
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'recycling') recycle
ON nodes_tags.id = recycle.id 
WHERE nodes_tags.type = 'recycling' and nodes_tags.value != 'yes';

sqlite> SELECT nodes_tags.key,nodes_tags.value
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'recycling') recycle
   ...> ON nodes_tags.id = recycle.id
   ...> WHERE nodes_tags.type = 'recycling' and nodes_tags.value != 'yes';
paper|no
clothes|no
paper|no
clothes|no

most of them are 'yes'

SELECT nodes_tags.key, count(*) as num
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'recycling') recycle
ON nodes_tags.id = recycle.id 
WHERE nodes_tags.type = 'recycling' and nodes_tags.value = 'yes'
GROUP BY nodes_tags.key
ORDER BY num DESC;

sqlite> SELECT nodes_tags.key, count(*) as num
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'recycling') recycle
   ...> ON nodes_tags.id = recycle.id
   ...> WHERE nodes_tags.type = 'recycling' and nodes_tags.value = 'yes'
   ...> GROUP BY nodes_tags.key
   ...> ORDER BY num DESC;
plastic_bottles|158
cans|145
paper|111
glass_bottles|88
clothes|25
glass|23
shoes|5
plastic|2
aluminium|1
books|1
cardboard|1
cooking_oil|1
eyeglasses|1
paper_bags|1
plastic_packaging|1
scrap_metal|1

The query showed possible types of recycling each with the number of nodes. I can even recycle eyeglasses? Where?

SELECT *
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE key='eyeglasses') eye
ON nodes_tags.id = eye.id;

sqlite> SELECT *
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE key='eyeglasses') eye
   ...> ON nodes_tags.id = eye.id;
4057712379|amenity|recycling|regular|4057712379
4057712379|website|http://www.lionsclubs.org/|regular|4057712379
4057712379|operator|Lions|regular|4057712379
4057712379|recycling_type|container|regular|4057712379
4057712379|eyeglasses|yes|recycling|4057712379

### power

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'power';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'power'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'power';
9
sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'power'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
tower|3680
pole|1437
switch|46
transformer|20
portal|17
generator|6
station|3
capacitor_bank|1
tap|1

not very interesting. PASS

### public_transport

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'public_transport';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'public_transport'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'public_transport';
3
sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'public_transport'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
platform|2606
stop_position|268
station|1

not interesting. Pass

### bus

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'bus';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'bus'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'bus';
1
sqlite>
sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'bus'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
yes|2594

not interesting. Pass

### railway

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'railway';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'railway'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'railway';
13
sqlite>
sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'railway'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
level_crossing|2207
switch|1444
crossing|1284
tram_stop|257
signal|68
buffer_stop|51
station|9
milestone|4
railway_crossing|4
derail|1
stop|1
turntable|1
yes|1

not interesting. Pass

### tourism

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'tourism';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'tourism'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'tourism';
14
sqlite>
sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'tourism'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
artwork|233
information|160
picnic_site|127
viewpoint|53
hotel|23
attraction|20
camp_site|13
motel|13
museum|12
guest_house|5
caravan_site|3
gallery|2
hostel|2
squat|1

### natural

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'natural';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'natural'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'natural';
10
sqlite>
sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'natural'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
tree|8438
peak|123
spring|55
bay|9
cliff|6
waterfall|6
beach|3
water|2
wetland|2
saddle|1

### shop

SELECT COUNT(DISTINCT(value))
FROM nodes_tags
WHERE key = 'shop';

SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key = 'shop'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM nodes_tags
   ...> WHERE key = 'shop';
127
sqlite>
sqlite> SELECT value, COUNT(*) as num
   ...> FROM nodes_tags
   ...> WHERE key = 'shop'
   ...> GROUP BY value
   ...> ORDER BY num DESC
   ...> LIMIT 20;
convenience|193
clothes|148
hairdresser|141
beauty|110
car_repair|62
mobile_phone|56
supermarket|52
optician|39
pet|35
hardware|34
bakery|32
gift|28
shoes|28
jewelry|27
laundry|23
second_hand|23
bicycle|22
alcohol|21
bed|21
toys|20

127 kinds of shops
Investigate shop further

#### shop: convenience

SELECT nodes_tags.value, COUNT(*) as num 
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'convenience') convenience
ON nodes_tags.id = convenience.id 
WHERE nodes_tags.key ='name'
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 20;

sqlite> SELECT nodes_tags.value, COUNT(*) as num
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'convenience') convenience
   ...> ON nodes_tags.id = convenience.id
   ...> WHERE nodes_tags.key ='name'
   ...> GROUP BY nodes_tags.value
   ...> ORDER BY num DESC
   ...> LIMIT 20;
7-Eleven|24
Plaid Pantry|21
Food Mart|8
Your Northwest Travel Mart|4
711|3
The Market|2
50th Market|1
52nd Avenue Market|1
7 Eleven|1
7 Market|1
7-11|1
7/11|1
88 Market|1
AM/PM|1
ARCO AM/PM|1
Abarrotes Panaderia y Carneceria|1
Alex's Philipino Store|1
Andy's Food Basket|1
Baseline Mart|1
Best Food Mart|1

#### shop: clothes

SELECT nodes_tags.value, COUNT(*) as num 
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'clothes') clothes
ON nodes_tags.id = clothes.id 
WHERE nodes_tags.key ='name'
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 20;

sqlite> SELECT nodes_tags.value, COUNT(*) as num
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'clothes') clothes
   ...> ON nodes_tags.id = clothes.id
   ...> WHERE nodes_tags.key ='name'
   ...> GROUP BY nodes_tags.value
   ...> ORDER BY num DESC
   ...> LIMIT 10;
Old Navy|3
Ross|3
Dress Barn|2
Forever 21|2
Fuego|2
Gen X|2
H&M|2
Justice|2
Loft|2
Macy's|2

#### shop: hairdresser

SELECT nodes_tags.value, COUNT(*) as num 
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'hairdresser') hairdresser
ON nodes_tags.id = hairdresser.id 
WHERE nodes_tags.key ='name'
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 10;

sqlite> SELECT nodes_tags.value, COUNT(*) as num
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'hairdresser') hairdresser
   ...> ON nodes_tags.id = hairdresser.id
   ...> WHERE nodes_tags.key ='name'
   ...> GROUP BY nodes_tags.value
   ...> ORDER BY num DESC
   ...> LIMIT 10;
Great Clips|14
The Barbers|11
Perfect Look|8
Supercuts|8
Bishops Barbershop|3
Sport Clips|3
Chop Shop|2
220 Salon|1
77 Salon|1
A Master Barber|1

#### shop: supermarket

SELECT nodes_tags.value, COUNT(*) as num 
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'supermarket') supermarket
ON nodes_tags.id = supermarket.id 
WHERE nodes_tags.key ='name'
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 10;

sqlite> SELECT nodes_tags.value, COUNT(*) as num
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'supermarket') supermarket
   ...> ON nodes_tags.id = supermarket.id
   ...> WHERE nodes_tags.key ='name'
   ...> GROUP BY nodes_tags.value
   ...> ORDER BY num DESC
   ...> LIMIT 10;
Grocery Outlet|5
Safeway|5
Albertsons|3
Fred Meyer|3
Whole Foods|3
Green Zebra|2
New Seasons Market|2
Zupan's|2
Albertson's|1
Bi-mart|1

#### Wait a minute! Why there are only 5 Safeway stores? Probably ther are more, but in different fileds.

SELECT COUNT(DISTINCT(id))
FROM nodes_tags 
WHERE value ='Safeway';

sqlite> SELECT COUNT(DISTINCT(id))
   ...> FROM nodes_tags
   ...> WHERE value ='Safeway';
41

SELECT *
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'Safeway') Safeway
ON nodes_tags.id = Safeway.id;

sqlite> SELECT *
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'Safeway') Safeway
   ...> ON nodes_tags.id = Safeway.id;
   
408573572|name|Safeway|regular|408573572
408573572|shop|supermarket|regular|408573572
408573572|city|Wilsonville|addr|408573572
408573572|street|Southwest Wilsonville Road|addr|408573572
408573572|housenumber|8255|addr|408573572

848315374|name|Safeway|regular|848315374
848315374|shop|supermarket|regular|848315374

1339186953|name|Safeway|regular|1339186953
1339186953|shop|supermarket|regular|1339186953
1339186953|street|Southwest Teal Boulevard|addr|1339186953
1339186953|housenumber|14555|addr|1339186953

1598669832|access|customers|regular|1598669832
1598669832|amenity|parking_entrance|regular|1598669832
1598669832|parking|multi-storey|regular|1598669832
1598669832|operator|Safeway|regular|1598669832

1974397122|amenity|fuel|regular|1974397122
1974397122|operator|Safeway|regular|1974397122

2156870714|name|Safeway|regular|2156870714
2156870714|amenity|fuel|regular|2156870714
...

4033539950|amenity|recycling|regular|4033539950
4033539950|operator|Safeway|regular|4033539950
4033539950|cans|yes|recycling|4033539950
4033539950|recycling_type|centre|regular|4033539950
4033539950|glass_bottles|yes|recycling|4033539950
4033539950|plastic_bottles|yes|recycling|4033539950

...

4080982191|city|Portland|addr|4080982191
4080982191|housenumber|2800|addr|4080982191
4080982191|postcode|97214|addr|4080982191
4080982191|state|OR|addr|4080982191
4080982191|street|Southeast Hawthorne Boulevard|addr|4080982191
4080982191|amenity|pharmacy|regular|4080982191
4080982191|dispensing|yes|regular|4080982191
4080982191|name|Safeway|regular|4080982191
4080982191|opening_hours|Mo-Fr 09:00-21:00; Sa 09:00-18:00; Su 10:00-18:00|regular|4080982191
4080982191|phone|+1-503-232-3930|regular|4080982191
4080982191|website|http://www.safeway.com/|regular|4080982191
4080982191|wikipedia|en:Safeway Inc.|regular|4080982191

...

I noticed Safeways are tagged 41 times in several different ways as followings:

* amenity|pharmacy
* amenity|recycling
* amenity|fuel
* amenity|parking_entrance
* shop|supermarket

Some of these 41 nodes might be indicating one Safeway location with different tags since one Safeway location can have many functions such as a gas station, a pharmacy, and a supermarket. However, it seems there are definitely more than 5 Safeway stores in this area. Many of the nodes were categorized as the value 'pharmacy' of the key 'amenity'. I checked how many Safeway nodes were tagged with value 'pharmacy' of the key 'amenity' below and I checked other pharmacies as well.

SELECT nodes_tags.value, count(*) as num
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'pharmacy') pharmacy
ON nodes_tags.id = pharmacy.id 
WHERE nodes_tags.key = 'name' 
GROUP BY nodes_tags.value
ORDER BY num DESC;

sqlite> SELECT nodes_tags.value, count(*) as num
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'pharmacy') pharmacy
   ...> ON nodes_tags.id = pharmacy.id
   ...> WHERE nodes_tags.key = 'name'
   ...> GROUP BY nodes_tags.value
   ...> ORDER BY num DESC LIMIT 10;
Walgreens|29
Safeway|27
Rite Aid|15
Fred Meyer|12
CVS|9
Bi-Mart|4
Costco|4
Sav-on|4
Walmart Pharmacy|2
Banks Pharmacy|1

I found there are 27 Safeway and 12 Fred Meyer pharmacies (we only found 3 Fred Meyer nodes using 'supermarket' above). At first, I thought they were tagged in this way by a mistake and should be categorized more systematically. However, I found a market is not called a supermarket conventionally if there is no full service grocery department (http://wiki.openstreetmap.org/wiki/Tag:shop%3Dsupermarket). It seems that this is why Safeway was tagged as 'pharmacy' more than 'supermarket'.

#### Walgreens

SELECT COUNT(DISTINCT(id))
FROM nodes_tags 
WHERE value ='Walgreens';

sqlite> SELECT COUNT(DISTINCT(id))
   ...> FROM nodes_tags
   ...> WHERE value ='Walgreens';
31

SELECT nodes_tags.value, COUNT(*) as num 
FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'chemist') chemist
ON nodes_tags.id = chemist.id 
WHERE nodes_tags.key ='name'
GROUP BY nodes_tags.value
ORDER BY num DESC;

sqlite> SELECT nodes_tags.value, COUNT(*) as num
   ...> FROM nodes_tags JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value = 'chemist') chemist
   ...> ON nodes_tags.id = chemist.id
   ...> WHERE nodes_tags.key ='name'
   ...> GROUP BY nodes_tags.value
   ...> ORDER BY num DESC;
Walgreens|2
Blendily|1
Kiehl's|1
My Favorite Soap|1

Walgreens was found to be the most frequent 'pharmacy' (key = 'amenity') with 29 nodes_tags above, but there were actually 31 nodes that were tagged with the name 'Walgreens'. This is because 'Walgreens' was categorized as a 'chemist' (key ='shop') twice. I wonder there was a good reason for this distinction (e.g. no pharmacist in those 2 Walgreens) or it was just a mistake.

### Top 20 keys for ways_tags

SELECT key, COUNT(*) as num
FROM ways_tags
GROUP BY key
ORDER BY num DESC
LIMIT 20;

sqlite> SELECT key, COUNT(*) as num
   ...> FROM ways_tags
   ...> GROUP BY key
   ...> ORDER BY num DESC
   ...> LIMIT 20;
building|621020
ele|534058
street|432103
postcode|432023
housenumber|431908
city|431869
height|404184
levels|211923
highway|181228
name|112702
sidewalk|68170
zip_left|56927
zip_right|56279
county|49618
bicycle|40087
service|38410
cfcc|36735
name_base|32002
maxspeed|31667
state|26422

interesting keys:
* sidewalk
* bicycle
* maxspeed

### sidewalk

SELECT COUNT(DISTINCT(value))
FROM ways_tags
WHERE key = 'sidewalk';

SELECT value, COUNT(*) as num
FROM ways_tags
WHERE key = 'sidewalk'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM ways_tags
   ...> WHERE key = 'sidewalk';
5

sqlite> SELECT value, COUNT(*) as num
   ...> FROM ways_tags
   ...> WHERE key = 'sidewalk'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
both|28905
no|22187
right|11254
left|5806
none|18

### bicycle

SELECT COUNT(DISTINCT(value))
FROM ways_tags
WHERE key = 'bicycle';

SELECT value, COUNT(*) as num
FROM ways_tags
WHERE key = 'bicycle'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM ways_tags
   ...> WHERE key = 'bicycle';
23

sqlite> SELECT value, COUNT(*) as num
   ...> FROM ways_tags
   ...> WHERE key = 'bicycle'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
designated|25760
yes|7392
no|3220
caution_area|3112
Portland Bureau of Transportation|367
dismount|116
Metro Bicycle Routes WMS|26
destination|15
permissive|13
RLIS|11
http://bikeportland.org/2010/11/04/pbot-streetcar-brings-changes-to-bikeways-in-the-pearl-42217|8
Metro 2011 aerial imagery|7
preferred|7
RLIS;Portland Bureau of Transportation|6
avoid|6
http://bikeportland.org/2010/04/21/see-the-new-bike-route-through-river-view-cemetery-32306|6
shared_lane|5
private|4
10|2
20|1
30|1
8|1
concrete|1

It seems there are several different types of keys.

SELECT type, value, COUNT(*) as num
FROM ways_tags
WHERE key = 'bicycle'
GROUP BY type, value
ORDER BY num DESC;

sqlite> SELECT type, value, COUNT(*) as num
   ...> FROM ways_tags
   ...> WHERE key = 'bicycle'
   ...> GROUP BY type, value
   ...> ORDER BY num DESC;
regular|designated|22789
regular|yes|7003
regular|no|3149
CCGIS|designated|2971
RLIS|caution_area|2934
oneway|yes|387
source|Portland Bureau of Transportation|367
CCGIS|caution_area|178
regular|dismount|116
CCGIS|no|53
source|Metro Bicycle Routes WMS|26
oneway|no|18
regular|destination|15
regular|permissive|13
source|RLIS|11
regular|preferred|7
source|Metro 2011 aerial imagery|7
source|http://bikeportland.org/2010/11/04/pbot-streetcar-brings-changes-to-bikeways-in-the-pearl-42217|7
regular|avoid|6
source|RLIS;Portland Bureau of Transportation|6
source|http://bikeportland.org/2010/04/21/see-the-new-bike-route-through-river-view-cemetery-32306|6
regular|shared_lane|5
regular|private|4
capacity|10|2
aerialway|yes|1
capacity|20|1
capacity|30|1
capacity|8|1
ramp|yes|1
surface|concrete|1
url|http://bikeportland.org/2010/11/04/pbot-streetcar-brings-changes-to-bikeways-in-the-pearl-42217|1

What I wanted was the 'regular' type where 'bicycle' is tagged without colons like k="bicycle" in the XML format.

SELECT value, COUNT(*) as num
FROM ways_tags
WHERE key = 'bicycle' and type = 'regular'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT value, COUNT(*) as num
   ...> FROM ways_tags
   ...> WHERE key = 'bicycle' and type = 'regular'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
designated|22789
yes|7003
no|3149
dismount|116
destination|15
permissive|13
preferred|7
avoid|6
shared_lane|5
private|4

SELECT COUNT(*)
FROM ways_tags
WHERE key = 'bicycle' and type = 'regular';

sqlite> SELECT COUNT(*)
   ...> FROM ways_tags
   ...> WHERE key = 'bicycle' and type = 'regular';
33107

In [19]:
22789/33107.

0.6883438547739149

The key 'bicycle' for ways_tags shows bicycle restrictions. Some of the values are explained in the website https://wiki.openstreetmap.org/wiki/Bicycle, but not all of them. The most frequent value is 'designated' which means "a way has been specially designated (typically by a government) for bicycle use". This seems to show Portland is very bike-friendly city, but I cannot make a rigorous conclusion here.

### maxspeed

SELECT COUNT(DISTINCT(value))
FROM ways_tags
WHERE key = 'maxspeed';

sqlite> SELECT COUNT(DISTINCT(value))
   ...> FROM ways_tags
   ...> WHERE key = 'maxspeed';
29

SELECT type, value, COUNT(*) as num
FROM ways_tags
WHERE key = 'maxspeed'
GROUP BY type, value
ORDER BY num DESC;

sqlite> SELECT type, value, COUNT(*) as num
   ...> FROM ways_tags
   ...> WHERE key = 'maxspeed'
   ...> GROUP BY type, value
   ...> ORDER BY num DESC;
regular|25 mph|12988
regular|35 mph|5215
regular|20 mph|2766
regular|30 mph|2458
regular|40 mph|2398
regular|45 mph|1418
regular|10 mph|1308
regular|55 mph|771
regular|50 mph|695
source|sign|444
regular|5 mph|276
regular|25|263
regular|15 mph|221
regular|60 mph|160
source|City of Portland sign inventory|89
regular|65 mph|78
source|ODOT|77
regular|70 mph|18
regular|20|8
regular|3 mph|4
source|road markings|3
source|RLIS aerials|2
regular|10|1
regular|100 mph|1
regular|35|1
regular|35 mph;40 mph|1
regular|40|1
regular|5|1
source|http://bikeportland.org/2009/10/22/pbot-spokane-bike-boulevard-construction-begins-next-month-24933|1

What I wanted was the 'regular' type where 'maxspeed' is tagged without colons like k="maxspeed" in the XML format.

SELECT value, COUNT(*) as num
FROM ways_tags
WHERE key = 'maxspeed' and type = 'regular'
GROUP BY value
ORDER BY num DESC;

sqlite> SELECT value, COUNT(*) as num
   ...> FROM ways_tags
   ...> WHERE key = 'maxspeed' and type = 'regular'
   ...> GROUP BY value
   ...> ORDER BY num DESC;
25 mph|12988
35 mph|5215
20 mph|2766
30 mph|2458
40 mph|2398
45 mph|1418
10 mph|1308
55 mph|771
50 mph|695
5 mph|276
25|263
15 mph|221
60 mph|160
65 mph|78
70 mph|18
20|8
3 mph|4
10|1
100 mph|1
35|1
35 mph;40 mph|1
40|1
5|1

Some maximum speeds are missing mph. We need to clean this.

## Other ideas about the dataset

Improvments should be made in 
* brand names like 'Starbucks coffee', 'Peet's coffee', and '7-eleven' (7-Eleven, 711, 7 Eleven,7-11, 7/11
* more clear categorization